*{
    margin: 0;
    padding: 0;
}
.containernav{
    height: 18vh;
    width: 100%;
    background-image: url(finalbg.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15hv;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 200px;
    cursor: pointer;
    margin-top: 2px;
    margin-left: -70px;
    margin-right: 10px;
}
.cart{
    width: 40px;
    cursor: pointer;
    margin-top: 2px;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    margin-top: 2px;
}
nav ul li a{
    text-decoration: none;
    color: #ff77cd;
}
.navbar ul li::after{
    content:'';
    width: 0%;
    height:3px;
    display: block;
    background: #87adfe;
    
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}


/* calculator page */

/* .body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #2782e3;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
} */

* {
	box-sizing: border-box;
}

.container{
	width:520px;
	height: auto;
    min-height:100px;
	margin: 100px auto;
	background-color: #eee;
	border-radius: 5px;
}
.base{
	width: 100%;
	 
	margin: 0;
	overflow: hidden;
	display: block;
	float: none;
}
 
.base h4{
	font-size: 16px;
	text-align: center;
	font-family: sans-serif;
	font-weight: normal;
    margin-top: 0px;
    box-shadow: 0px 2px #ff77cd;
    background: white;
    font-size: 34px;
	color: #a94053;
}
.block{
	width: 135px;
	padding: 5px 20px;
 
	margin-left: 20px;
	display: inline-block;
	float: left;
}
 
.title{
	font-size: 20px;
	text-align: left;
	font-family: sans-serif;
	font-weight: normal;
	line-height: 0.5;
	letter-spacing: 0.5px;
	word-spacing: 2.7px;
	color: #1073d0;
}

input[type=text] {
	width: 140px;           
	margin: auto;
	outline: none;
        min-height: 50px;
	border: 2px solid hsl(295, 85%, 66%);
	padding: 12px;
	background-color: #f83e3e;
        border-radius: 2px;
        color: #d05010;
        font-size: 17px;
}

input[type=text]:focus{
	background-color: #ffffff;
	border: 2px solid orange;
	outline: none;
}

input[type=button]{
	width: 150px;
	margin-left: 35%;
        margin-top: 40px;
	outline: none;
	border: none;
	border-radius: 2px;
	background-color: #f58e9b;
	color: #ffffff;
	padding: 14px 16px;
	text-align: center;
  
	font-size: 16px;
}
input[type=button]:hover{
	background-color: #F96D80;
}

#age{
	display: block;
	margin: px;
        margin-top: 5px;
	padding: 10px;
        padding-bottom: 10px;
	overflow: hidden;
	font-family: verdana;
	font-size: 23px;
	font-weight: normal;
	line-height: 1.5;
	word-spacing: 2.7px;
	color: rgb(218, 64, 232);
}



/* css */

body{
	background-color: #ffe9e9;
 }
 
 .container{
	 flex-basis: 51%;
	 background: #fff3f3;
	 border-radius: 20px;
	 margin-bottom: 3%;
	 margin-left: 500px;
	 margin-right: 50px;
	 margin-top:3%;
	 padding: 10px 20px;
	 box-sizing: border-box;
	 text-decoration: none;
	 
 
 }
 h1{
	 font-size: 30px;
	 font-weight: 600;
	 text-align: center;
	 margin-top: 30px;
 }
 
 h3{
	margin-top: 4%;
	font-weight: 15px;
	color: #F96D80;
 }

 .date{
	font-size: 20px;
	border-color: #F96D80;
	margin-top: 3%;
	margin-left: 2%;
 }

 .btn{
	display: inline;
	background: linear-gradient(45deg,#87adfe,#ff77cd);
	border-radius: 3px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
	margin-left: 50%;
 }
 p{
	margin-top: 5px;
	font-size: 20px;
	font-weight: 500px;
 }