/* nav page */

/* *{
    margin: 0;
    padding: 0;
}
header{
    min-height: 100vh;
    width:100%;
    /* background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)) ,url(image/banner.png);  */
    /* background-position: center;
    background-size: cover;
    position: relative;
}
.container1{
    display: flex;
    padding: 3% 10%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:300px;
   
}
.container1{
    flex: 1;
    text-align: right;
}
.container1 ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.container1 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
*/

/*
.logo{
    position: fixed;
    height: auto;
    left:0px;
    width: 250px;
    margin-top: -100px;

}*/

/* our team */

body{
    background: #fff3f3;
}



.color{
   background: #da7386; 
   background: linear-gradient(45deg,#F96D80,#ff77cd);
  font-family: 'Josefin Sans', sans-serif;
}

.wraapper{
  margin-top: 0px;
  /* background: #81c644; */
}

.wraapper h1{
  font-family: serif;
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #F96D80;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 100px;
}

/* testimonal */
/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto:wght@400&display=swap'); */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user{
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'dosis';
    color: #080808;
    padding-top: 5%;
    /* background-image: url(Blog-post/background.png); */
    /* background: linear-gradient(110deg, #fc6a6a 0%, #ffc69d 100%); */
} 

.container{
    position: relative;
    width: 800px;
    min-width: 350px;
    min-height: 250px;
    padding-bottom: 40px;
    overflow: hidden;
   
}

.wrapper{
    width: 300%;
    /* 300% 'caz we have 3 cards */
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
}

.card{
    width: 800px;
    min-height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 10px;
}
.container h1{
    margin-bottom: 30px;
   
    text-align: center;
}

.card-thumb{
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.client-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-name{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5px 20px;
    background: #fff;
    text-transform: capitalize;
    font-size: 14px;
}

.card-body{
    width: 120%;
    min-height: 100%;
    height: auto;
    margin-left: 20px;
    position: relative;
    padding-bottom: 50px;
}

.review{
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}

.fa{
    color: #f44336;
    margin-left: 3px;
}

.indicators{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.indicators button{
    background: none;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #FFC4A3;
    cursor: pointer;
    margin-left: 5px;
    transition: .5s;
}

button.active{
    width: 40px;
    border-radius: 50px;
    background: #F96D80;
}

@media (max-width: 800px){
    .container{
        width: 50%;
        margin: auto;
    }
    .card{
        flex-direction: column;
    }
    .card-thumb{
        width: 100%;
        border-radius: 10px;
    }
    .card-body{
        width: 100%;
        min-height: auto;
        margin-left: 0;
    }
}

/* footer */
.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #151414;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}


/* front */

*{
    margin: 0;
    padding: 0;
}
.containernav{
    height: 100vh;
    width: 100%;
    background-image: url(finalbg.png);
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 10hv;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 250px;
    cursor: pointer;
    margin-top: 2px;
    margin-left: -150px;
    margin-right: 10px;
}
.cart{
    width: 40px;
    cursor: pointer;
    margin-top: 2px;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    margin-top: 2px;
}
nav ul li a{
    text-decoration: none;
    color: #ff77cd;
}

.content h1{
    font-size: 60px;
    font-size: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}
.content p{
    font-size: 20px;
    color: #6a7199;
}
.content{
    margin-top: 6%;
    margin-left: 15%;
}
.content .btn{
  display: inline;
  background: linear-gradient(45deg,#87adfe,#ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}

.arrow-icons{
    margin-top: 40px;
    display: flex;
}
.arrow-icons img{
    width: 40px;
    margin-right: 25px;
}
.feature-img {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}

.navbar ul li::after{
    content:'';
    width: 0%;
    height:3px;
    display: block;
    background: #87adfe;
    
    margin: auto;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}





/* about us */
.about-us{
    width: 80%;
    margin:auto;
    text-align:center;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 25px;
    margin-top: 25px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: rgb(131, 127, 127);
    font: size 20px;
    font-weight: 300;
    padding: 10px;
    margin-top: 0px;
}

